.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}

.target-node {
  background-color: red;
}

.start-node {
  background-color: green;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}
