.node {
  width: 20px;
  height: 20px;
  background-color: rgb(94, 94, 94);
  outline: 0.25px solid grey;
  display: inline-block;
}

.target-node {
  background-color: red;
}

.start-node {
  background-color: green;
}

.node-wall {
  background-color: rgb(46, 46, 46);
}
